* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
section {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
section h1 {
  color: #fff;
}
